@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@100;200;300;400;500;600;800&family=Merriweather+Sans:wght@300;400;500;600&display=swap');

:root {
    --primary: #fe2c55;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    // font-family: 'Abel', sans-serif;
    // font-family: 'Inter', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-rendering: optimizeSpeed; // toi uu hien tri phong vi phong duoc tai tu mang
}
