.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    padding: 0 var(--default-layout-hozizontal-spacer);
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
    min-height: 1000px;

    h2 {
        line-height: 100%;
    }
}
